/* New Asset.module.css */

.container {
    background-color: #191919;
    padding: 5rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    color: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .label {
    color: #6B7280;
  }
  
  .input {
    border: 1px solid #cccc;
    background-color: #777;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  .text {
    color: #6B7280;
  }
  
  .buttonContainer {
    margin-top: 1rem;
  }
  
  .button {
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .button:hover {
    background: linear-gradient(to left, #9C1AEC, #4B82F4);
  }
  