@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --icons-color: #B100BC;
  --icons-light-color: #BB22C357;
  --icons-bg-color: #BB22C3;
  --shadow-dark-color: #3f3c3f;
  --bg-shadow-dark-color: #3f3c3f;
  --shadow-light-color: #30154E;
  --main-bg-color: #30154E;

  --box-shadow: 1px 1px 2px #BB22C3,
  -1px -1px 2px #BB22C3;

  --box-shadow-2:1px 1px 2px #BB22C3,
  -1px -1px 2px #BB22C3;

}

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
 background-color: #1E2121;
  letter-spacing: 0.3px;
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: scroll;
}

nav {
  background: #3D3D3E;
  padding: 0 15px;
}

.menu,
.submenu {
  list-style-type: none;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

.item.links a {
  color: #b100bc;
}

/* Cards */
#container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20vh;
}

.card {
  background-color: #3D3D3E;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
  color: #fff;
}

.card .tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.card .name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

.card p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

.card button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #fff;
  background-color: var(--icons-color);
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.card__details {
  padding: 16px 8px 8px 8px;
}

.card button:focus,
.card button:hover {
  background-color: #0077ff;
  color: #e0efff;
}

.card img {
  width: 100%;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu i {
  font-size: 12px;
}

.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.subitem a {
  padding: 10px 15px;
}

.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
    order: 0;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: var(--icons-color);
    border-radius: 16px;
    color: #fff;
    text-decoration: none;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: rgb(8, 160, 216);
    background: linear-gradient(90deg, rgb(8, 160, 216) 0%, rgb(209, 0, 220) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08a0d8", endColorstr="#d100dc", GradientType=1);
    color: #fff;
    text-decoration: none;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}