.container {
    background-image: url('/images/gradient-4.jpg'); /* Add 'url()' here */
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
  
  }
  
  /* Individual Category Styles */
.popular {
    background-color: #ccc;
    border: none;
    color: black;
    margin-top: 2rem;
  }
  
  .space ,
  .gallery ,
  .gaming,
  .nature ,
  .music,
  .entertainment ,
  .gallery 
   {
    background-color: #ccc;
    border: 2px solid #ccc;
    color: #ccc;
    margin-top: 2rem;
  }

  .about {
    line-height: 2;
    border: 1px solid #ccc; /* You can specify your desired border style and color */
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
  }

  .img1 {
    width: 100px; 
    position: relative;
    height: 100px; 
    margin:10px 0 10px 8rem;
    
  }

  .img2 {
    background-color: black;
    width: 50vw;
    height: 50vh;
    position: relative;
    margin-left: 3rem;
   }

  .background {
    background-color: #191919;
    width: 100vw;
    height: 70vh;
    position: relative;
    margin-top:2.7rem;
    padding: 3rem;
    justify-content: space-around;
    display: flex;
   }
  
  
  
 