.container {
  background-image: url('/images/gradient-4.jpg');
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  padding: 2rem;
}

.card {
  background-color: #3D3D3E;
  border: 1px solid #bacdd8;
  border-radius: 12px;
  overflow: hidden;
  max-width: 300px;
  color: #fff;
  margin: 0 auto;
}

.card img {
  width: 100%;
}

.card__details {
  padding: 1rem;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.tag {
  font-size: 14px;
  background-color: #e5eaed;
  color: #788697;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 25px;
}
