/* .container {
  background-image: url('/images/gradient-4.jpg');
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  padding: 2rem;
} */


.name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.tag {
  font-size: 14px;
  background-color: #e5eaed;
  color: #788697;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 25px;
}
